{% load static %}

<head>
  <link rel="stylesheet" href="{% static 'css/component.css' %}">
</head>
  <link rel="icon" type="image/png" href="{% static 'images/favicon.png' %}">

<section class="login">
  <div class="login-container">
    <div class="login-left">
      <div class="login-card">

        <h1>Reset Password</h1>
        <p>Enter your registered email address</p>

        <form method="post">
          {% csrf_token %}
          {{ form.email }}

          <button class="login-btn" type="submit">
            Send Reset Link
          </button>
        </form>

      </div>
    </div>
  </div>
</section>
